.minesweeper {
  /* width: 100%; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  overflow-x: auto;
}

.minesweeper .minesweeper-header {
  overflow: hidden;
}

.minesweeper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  padding: 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  font-size: large;
  font-weight: bold;
}


.minesweeper-header .status {
  font-size: xx-large;
  cursor: pointer;
  color: #fff;
}


.minesweeper-header .new,
.minesweeper-header .numMines {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  color: #fff;
}

.minesweeper-header .numMines {
  background-color: black;
  color: red
}

.minesweeper-header .new:hover {
  background-color: #ccc;
}

.minesweeper .board {
  border: 1px solid #ccc;
  background-color: #eee;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
}

.minesweeper .board .row {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .minesweeper-header {
    background-color: #333;
    border-bottom: 1px solid #555;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
    color: lightgray;
  }
}