/* Style the container for the settings page */
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

/* Style the form for the settings page */
.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: lightgray;
}

/* Style the conteinero of label and input */
.settings-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

/* Style the input label for the settings page */
.settings-label {
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

/* Style the input fields for the settings page */
.settings-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the submit button for the settings page */
.settings-submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Style the error message for the settings page */
.settings-error {
  color: red;
  margin-top: 10px;
}

/* Legend */
.legend {
  margin-bottom: 10px;
  text-align: center;
}

.legend table {
  width: 100%;
}

.legend table thead {
  font-weight: bold;
  text-align: left;
}

.legend table tbody tr td,
.legend table thead tr th {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* capitalize first column */
.legend table tbody tr td:first-child {
  text-transform: capitalize;
  font-weight: bold;
}