.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.cell span {
  user-select: none;
}

.cell span[data-neighborcount="1"] {
  color: blue;
}

.cell span[data-neighborcount="2"] {
  color: green;
}

.cell span[data-neighborcount="3"] {
  color: red;
}

.cell span[data-neighborcount="4"] {
  color: darkblue;
}

.cell span[data-neighborcount="5"] {
  color: brown;
}

.cell span[data-neighborcount="6"] {
  color: darkcyan;
}

.cell span[data-neighborcount="7"] {
  color: black;
}

.cell span[data-neighborcount="8"] {
  color: gray;
}

.cell span.mine {
  width: 100%;
  height: 100%;
  background-color: #f00;
  color: #fff;
}

.cell.revealed {
  background-color: #fff;
  border-color: #aaa;
}

.cell.revealed:hover {
  background-color: #ddd;
}

.cell.flagged {
  background-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  .cell.revealed {
    background-color: #333;
    border-color: white;
  }
}