.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.cell span {
  user-select: none;
}

.cell span[data-neighborCount="1"] {
  color: blue;
}

.cell span[data-neighborCount="2"] {
  color: green;
}

.cell span[data-neighborCount="3"] {
  color: red;
}

.cell span[data-neighborCount="4"] {
  color: darkblue;
}

.cell span[data-neighborCount="5"] {
  color: brown;
}

.cell span[data-neighborCount="6"] {
  color: aqua;
}

.cell span[data-neighborCount="7"] {
  color: black;
}

.cell span[data-neighborCount="8"] {
  color: gray;
}

.cell.flagged {
  background-color: #ccc;
}

.cell span.mine {
  width: 100%;
  height: 100%;
  background-color: #f00;
  color: #fff;
}

.cell.revealed {
  background-color: #fff;
  border-color: #aaa;
}

.cell.revealed:hover {
  background-color: #ddd;
}