nav {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

nav ul li.active {
  background-color: #aaa;
}

nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: #eee;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  nav {
    background-color: #333;
    border-bottom: 1px solid #555;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
  }

  nav ul li.active {
    background-color: #555;
  }

  nav ul li a {
    color: #fff;
  }

  nav ul li a:hover {
    background-color: #444;
  }
}