@font-face {
  font-family: 'Segment';
  src: local('Segment'), url(SevenSegment.woff) format('woff');
}

body {
  font-family: 'Segment';
  background-color: white;
}

/* implement dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: darkgray;
  }
}