@font-face {
  font-family: 'Segment';
  font-display: auto;
  src: local('Segment'), url(./assets/SevenSegment.woff) format('woff');
}

body {
  font-family: 'Segment';
  background-color: white;
}

/* implement dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: darkgray;
  }
}

.board {
  -webkit-touch-callout: none !important;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}